nav h1{
    width: 235px; height: 55px;
    background: url("img/logo.png") no-repeat;
    position: relative;
}
nav h1 a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-indent: -10000px
}

.navbar-header{
    float: none;
}

.navbar-nav{
    float:right;
}
.navbar-nav > li > a{
    color:#97979a;
    border-right: 1px solid #97979a;
    padding:9px 15px;
}
.navbar-nav > li.active > a, .navbar-nav > li > a:hover{
    color:#9a394e;
    border-right: 1px solid #9a394e;
    padding:9px 15px;
    background:none;
}